/* Write your CSS here */
.mach-card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  width: 280px;
  padding: 10px;
  margin: 10px;
}
.team-logo {
  height: 100px;
  margin-right: 8px;
}
.team-name {
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
